@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #248;
  opacity: 0.9;
  z-index: 5;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f4f4f4;
  width: 30%;
  box-shadow: 0 2px 7px black;
  border-radius: 10px;
  animation-name: popup;
  animation-duration: 1.1s;
  z-index: 6;
  overflow: hidden;
}

@keyframes popup {
  from {
    transform: translate(-50%, 150%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-header {
  background-color: rgba(51, 130, 193, 1);
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
}

.modal-header h1 {
  font-size: 1rem;
  margin: 10px 0;
}

.modalClose {
  font-size: 1.3rem;
  cursor: pointer;
}

.modal-body {
  padding: 15px 25px;
}